@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap&#39;'); 
body { font: 12pt Arial; } 
h2, h3 { font-family: 'Pacifico', cursive; font-weight: normal;}
input[type=number] { font-size: 12pt; } 
input[type=submit] {
background-color: green;
color: white;
font-size: 12pt;
padding: 5px;
}
*{
text-align: center;
background-color: bisque;
text-shadow: 60px;
}

h1{
font-size: 90px;
text-shadow: 20%;
font-style: italic;


}